.news-feed-card {
  .news-feed-description {
    height: 25px;
  }
}

#map {
  height: 500px;
}

#error {
  .alert {
    display: none;
  }
}

.news_feed_info_windown {
  text-align: center;

  i {
    display: block;
  }

  img {
    width: 70%;
  }
}